[user]
    name = Bruce Chen
    email = bruce30262@gmail.com
    
[core]
    excludesfile = ~/dotfiles/git/.gitignore
    editor= 'vim'
    
[github]
    user = bruce30262
    email = bruce30262@gmail.com
    
[alias]
    a = add
    aa = add -A
    ai = add -i
    ###############
    d = diff
    ###############
    b = branch
    ba = branch -a
    ###############
    cm = commit
    cma = commit --amend
    ###############
    co = checkout
    ###############
    f = fetch
    fu = fetch upstream
    ###############
    m = merge
    ###############
    ps = push
    psa = push --all
    psf = push --force
    ###############
    pl = pull
    ###############
    r = remote
    rv = remote -v
    ###############
    rs = reset
    rss = reset --soft
    rsh = reset --hard
    ###############
    s = status
    su = status -u
    ###############

    # change a git repo's remote url from https to ssh (for github only)
    # have to use 2 back slash because the first back slash will read by .gitconfig
    github-h2s = "!new_url=$(git rv | awk '{print $2}' | head -1 | sed 's/https:\\/\\/github.com\\//git@github.com:/g') && git remote set-url origin $new_url && echo 'git remote -v:' && git rv"
    # change a git repo's remote url from ssh to https (for github only)
    # have to use 2 back slash because the first back slash will read by .gitconfig
    github-s2h = "!new_url=$(git rv | awk '{print $2}' | head -1 | sed 's/git@github.com:/https:\\/\\/github.com\\//g') && git remote set-url origin $new_url && echo 'git remote -v:' && git rv"
